
.container{
    text-align: center;
}

.error{
    font-size: 168px;
    padding: 20px;
}

.message{
    font-size: 32px;
    padding: 5px;
    color: rgb(0, 150, 0);
}

.text{
    font-size: 18px;
    padding: 5px;
}